<footer>
    <div class="container">

        <div class="row footer">

            <div class="col-12 footerflex">
                <img class="footer-logo pb-lg-1 pb-5"  src="./../assets/images/logo-footer-w.png" alt="">
   
                <div class="iconbox icon">
                    <a href="#">
                        <img src="./../assets/images/ig-icon.png" alt="">
                    </a>
                    <a href="#">
                        <img src="./../assets/images/fb-icon.png" alt="">
                    </a>
                    <a href="#">
                        <img src="./../assets/images/line-icon.png" alt="">
                    </a>
                </div>

            </div>

            <div class="col-12 footerflex copyright">

                <div class="copyrightbox fs6">
                    <p class="">Copyright © FoodieInspiration All Rights Reserved.<br>
                        作品僅為作業練習,無商業使用,若有侵權請來信告知<br>
                        FoodieInspiration@gmail.com,我們將立即移除</p>
                </div>
                <div class="itembox fs-5 text-center">
                    <a href="#">常見問題</a><a href="#">關於我們</a><a href="#">隱私權政策</a><a href="#">使用者條款</a>
                </div>
            </div>

        </div>


    </div>
</footer>