
<nav class="navbar navbar-light bg-light-w navbar-expand-lg fixed-top">
  <div class="container">

    <a class="navbar-brand" href="index.html"><img src="../assets/images/logo.svg" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img src="../assets/images/foodWebLogo.svg" alt=""></h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 fs-5">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="popularRestaurants.html">這些店很熱門</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link nav-subtitle" href="#">今天想吃什麼？</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  nav-subtitle" href="topicShare.html">主題分享</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-subtitle" href="#">假日怎麼玩？</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-subtitle" href="#">註冊</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-subtitle me-lg-0" href="#">登入</a>
          </li>

        </ul>

        <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>

  </div>
</nav>

