<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>主題分享</title>

    <!-- <link rel="stylesheet" href="././assets/scss/pages/_topicSubpage.scss"> -->
  </head>
  
  <body>
    <%- include('./layout/header'); -%>

    <div class="image-banner container-fluid">
 
      <div class="imageBannerTitle text-white">
        <h1 class="">主題分享-測</h1>
      </div>
    </div>

<div class="bg-gray-space  container-fluid">

    <div class="">

    <div class="mainArea mx-auto text-center pt-4 pb-4 container blank-space">

      <div class="row">

        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">首頁</a></li>
            <li class="breadcrumb-item"><a href="#">主題分享</a></li>
            <li class="breadcrumb-item active" aria-current="page">台南 4 家超人氣老屋、美式、日式早午餐推薦</li>
          </ol>
        </nav>

      
          <!-- <div class="">
            <span class=""><a href="#">上一頁</a></span>
            <span class=""><a href="#">下一頁</a></span>
          <div> -->
  

    </div>

      <h1 class="text-center my-2 title-deco pb-3">台南 4 家超人氣老屋、美式、日式早午餐推薦</h1>
      <p class="mb-3 mb-3">說到台南，除了琳瑯滿目的在地小吃，更是有許多美味又盛的台南早午餐，每一家都有其獨特的風格，無論是文青老屋風、美式或日式都有！今天小編要推薦4家超人氣台南早午餐，快來筆記筆記！台南許多熱門的早午餐店都隱身在巷弄內，且都是由老宅改造，一家比一家厲害，實在是竸爭激烈呀～如果在台南停留的天數有限，不妨參考小推薦的這 4 家，現在就把這篇加入囗袋名單，下次不用再選擇障礙啦!</p>
    </div>

  </div>
</div>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../../main.js"></script>
  </body>
</html>
